In [5]:
import pandas as pd

trumparchiveData = pd.read_csv("data/trumptwitterarchive/trumptwitterarchive.csv")

trumparchiveData.head()

,source,id_str,text,created_at,retweet_count,in_reply_to_user_id_str,favorite_count,is_retweet
0,Twitter for iPhone,947824196909961216,Will be leaving Florida for Washington (D.C.) ...,Mon Jan 01 13:37:52 +0000 2018,8237,NaN,51473,False
1,Twitter for iPhone,947810806430826496,Iran is failing at every level despite the ter...,Mon Jan 01 12:44:40 +0000 2018,14595,25073877.0,53557,False
2,Twitter for iPhone,947802588174577664,The United States has foolishly given Pakistan...,Mon Jan 01 12:12:00 +0000 2018,49566,NaN,138808,False
3,Twitter for iPhone,947614110082043904,HAPPY NEW YEAR! We are MAKING AMERICA GREAT AG...,Sun Dec 31 23:43:04 +0000 2017,35164,NaN,154769,False
4,Twitter for iPhone,947592785519173637,As our Country rapidly grows stronger and smar...,Sun Dec 31 22:18:20 +0000 2017,39428,NaN,157655,False

In [6]:
trumparchiveData.describe()

             id_str  retweet_count  in_reply_to_user_id_str  favorite_count
count  3.630700e+04   36307.000000             2.540000e+03    36307.000000
mean   5.565226e+17    4396.954637             3.390529e+08    15462.973724
std    2.481136e+17    9442.712839             3.974974e+08    34777.231080
min    1.698309e+09       0.000000             7.425000e+03        0.000000
25%    3.511359e+17      19.000000             3.576461e+07       22.000000
50%    5.448598e+17     187.000000             2.162993e+08       96.000000
75%    7.109204e+17    3700.000000             4.749732e+08     6161.000000
max    1.079888e+18  369530.000000             3.412873e+09   633253.000000

In [7]:
trumparchiveData.shape

(36307, 8)

In [8]:
kaggleData = pd.read_csv("data/kaggle/realdonaldtrump.csv")

kaggleData.head()

,id,link,content,date,retweets,favorites,mentions,hashtags
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25,501,879,NaN,NaN
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10,33,271,NaN,NaN
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08,12,20,NaN,NaN
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15,10,26,NaN,NaN
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28,1373,1954,NaN,NaN

In [6]:
kaggleData.describe()

                 id       retweets      favorites
count  4.229500e+04   42295.000000   42295.000000
mean   6.263485e+17    5829.792198   24301.786831
std    3.158088e+17   10476.489562   44299.855569
min    1.698309e+09       0.000000       0.000000
25%    3.592780e+17      26.000000      29.000000
50%    5.734524e+17     344.000000     304.000000
75%    8.580088e+17    9980.500000   41520.500000
max    1.250527e+18  305708.000000  846467.000000

In [9]:
kaggleData.shape

(42295, 8)

Gewünschtes Format:

'id,content,date,max(retweets),max(likes),mentions,hashtags,in_reply_to_usr_id_string'

merging the two dataframes with a left join

In [21]:
merged_left = pd.merge(left=kaggleData, right=trumparchiveData, how='left', left_on='id', right_on='id_str')

# clean the merge dataframe
# drop the link column, because we don't need it
cleaned_merge = merged_left.drop(["link", "text"], axis=1)

cleaned_merge.groupby('id_str').count()

,id,content,date,retweets,favorites,mentions,hashtags,source,created_at,retweet_count,in_reply_to_user_id_str,favorite_count,is_retweet
id_str,,,,,,,,,,,,,
1.698309e+09,1,1,1,1,1,0,0,1,1,1,0,1,1
1.701461e+09,1,1,1,1,1,0,0,1,1,1,0,1,1
1.737480e+09,1,1,1,1,1,0,0,1,1,1,0,1,1
1.741161e+09,1,1,1,1,1,0,0,1,1,1,0,1,1
1.773561e+09,1,1,1,1,1,0,0,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.079763e+18,1,1,1,1,1,0,0,1,1,1,0,1,1
1.079764e+18,1,1,1,1,1,0,0,1,1,1,0,1,1
1.079830e+18,1,1,1,1,1,0,0,1,1,1,0,1,1
1.079830e+18,1,1,1,1,1,0,0,1,1,1,1,1,1
1.079888e+18,1,1,1,1,1,0,0,1,1,1,0,1,1

In [13]:
merged_left.describe()

,id,retweets,favorites,id_str,retweet_count,in_reply_to_user_id_str,favorite_count
count,4.229500e+04,42295.000000,42295.000000,3.491500e+04,34915.000000,2.515000e+03,34915.000000
mean,6.263485e+17,5829.792198,24301.786831,5.445844e+17,4212.844737,3.398527e+08,15951.357325
std,3.158088e+17,10476.489562,44299.855569,2.419641e+17,9381.009134,3.977152e+08,35295.563971
min,1.698309e+09,0.000000,0.000000,1.698309e+09,0.000000,7.425000e+03,0.000000
25%,3.592780e+17,26.000000,29.000000,3.429254e+17,18.000000,3.600001e+07,24.000000
50%,5.734524e+17,344.000000,304.000000,5.360065e+17,162.000000,2.173036e+08,109.000000
75%,8.580088e+17,9980.500000,41520.500000,6.925471e+17,2689.500000,4.761064e+08,6973.000000
max,1.250527e+18,305708.000000,846467.000000,1.079888e+18,369530.000000,3.412873e+09,633253.000000

In [12]:
# Write DataFrame to CSV
merged_left.to_csv('data/merged.csv', index=False)